# Virtual environments
venv/
virt/
env/

# Database files
db.sqlite3

# Secret environment variables
.env

# Compiled files
__pycache__/
*.pyc
*.pyo

# Static and media files
staticfiles/
media/

# VSCode and IDE settings
.vscode/
.idea/