{% extends 'base.html' %}
{% block content %}

         <!-- Header with Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <!-- Slides -->
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="./media/uploads/product/ads2.PNG" class="d-block w-100" alt="Slide 1">
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item"data-bs-interval="3000">
                <img src="./media/uploads/product/ads3.PNG" class="d-block w-100" alt="Slide 2">
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item"data-bs-interval="3000">
                <img src="./media/uploads/product/ads4.PNG" class="d-block w-100" alt="Slide 3">
            </div>
        </div>
        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">   
                {% for product in products %}
                    {% if product.is_sale %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Sale -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                                    <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <strike>
                                    ${{ product.price }}
                                    </strike>
                                    &nbsp;
                                    ${{ product.sale_price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id  %}">View Product</a>
                             </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    ${{ product.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </section>
        

{% endblock %}

<style>
    

    .prix{
        color: red;
    }
  .carousel-inner img {
        height: 30%; /* Adjust the height as needed */
        object-fit: cover; /* Ensure images fit nicely */
    }
    .carousel-control-prev-icon{
        color: gold;

    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.5); /* Add background to controls */
        border-radius: 50%;
        
    }


</style>